---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog";
---

<Layout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => <BlogPost post={post} />)
    }
  </ul>
</Layout>
